@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --color-text: hsl(233, 14%, 35%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-text: hsl(236, 33%, 92%);
  }
}

@media (width >= 1400px) {
  .bg-contain {
    background-size: contain !important;
  }
}

html {
  overflow: hidden !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Josefin Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.dot {
  height: 20px;
  width: 20px;
  min-width: 20px;
  border-radius: 50%;
  display: inline-block;
  border: 1px rgb(var(--v-theme-veryDarkGrayishBlue)) solid;
}

/* SCROLLBAR */
* {
  --scrollbar-background-color: transparent;
  --scrollbar-thumb-background-color: transparent;
  --scrollbar-thickness: 6px;
}
@supports (-moz-appearance: none) {
  * {
    scrollbar-width: thin;
    scrollbar-color: #beccd3 transparent;
  }
}
/* CSS FOR CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #beccd3;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: transparent;
}
